/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode defaults */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Dark mode styles */
.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39; /* darker background start */
  --background-end-rgb: 29, 39, 49; /* darker background end */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Utility classes and additional styles */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.alert {
  margin-top: 20px;
  color: white;
  background-color: red; /* Example alert styling */
  padding: 10px;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
